#profilePicture {
	width: min(50rem*0.42 - 4rem, max(80vw*0.45 - 4rem, 10rem));
    height: min(50rem*0.42 - 4rem, max(80vw*0.45 - 4rem, 10rem));
    background-size: cover;
    border: 0.4rem solid #894c33;
    border-radius: 0.2rem;
	position: relative;
	margin-left: -0.6rem;
	float: left;
	margin-right: 2rem;
}

#gradeBoxBox {
	float: left;
    left: max(calc(11vw - 5.5rem), 0rem);
	min-width: min(20rem, 80%);
	text-align: left;
    font-size: 1.5rem;
	position: relative;
    font-stretch: condensed;
    text-indent: 0;
	white-space: nowrap;
	height: 12rem;
	padding-top: 1rem;min-height: min(50rem*0.42 - 4rem, max(80vw*0.45 - 4rem, 10rem));
}

.gradeBox {
	top: 30%;
	position: relative;
	transform: translateY(-50%);
	display:inline-block;
}

#nameBox {
	float:left
}

#scoreBox {
	float: right;
}

#gradeTitle {
	position: relative;
	font-size: 4rem;
	font-family: 'CopperplateIda';
	top: -1.5rem;
	text-align: center;
}

.className {	
	font-weight: bold;
	text-align: left;
	display: inline-flex;
}

.up {
    color:forestgreen;
}

.down {
    color:mediumvioletred;
}

.up, .down {
	line-height: 1em;
	font-size: 1rem;
}