#profilePicture {
	width: min(50rem*0.42 - 4rem, max(80vw*0.45 - 4rem, 10rem));
    height: min(50rem*0.42 - 4rem, max(80vw*0.45 - 4rem, 10rem));
    background-size: cover;
    border: 0.4rem solid #894c33;
    border-radius: 0.2rem;
	position: relative;
	margin-left: -0.6rem;
	float: left;
}

#gradeBox {
	float: left;
    text-align: left;
    font-size: 1.5rem;
    position: absolute;
    margin-left: calc(min(50rem*0.42 - 4rem, max(80vw*0.45 - 4rem, 10rem)) + 0.2rem);
    text-indent: 0;
}

.className {	
}

.up {
    color:forestgreen;
}

.down {
    color:mediumvioletred;
}

.up, .down {
	line-height: 1em;
}