.menu {
  position: relative;
  width: 350px;
  height: 550px;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  background-color: #eee;
  box-shadow: 20px 20px rgba(118,64,32,1);
  transition: all .4s ease;
  text-align: center;
  
}
.menu:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(4,64,64,1);

}
.bubble {
	cursor: pointer;
	position: relative;
	padding: 4.5rem 10.8rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: url('https://tse3.mm.bing.net/th?id=OIP.fKYI5BvW4miKT4LjVtY68wHaEp&pid=Api');
	box-shadow: 0 1rem 1.25rem 0 rgba(0,0,0, .5),
							0 -0.25rem 1.5rem rgba(0, 0, 0, .9) inset,
							0 0.75rem 0.5rem rgba(255,255,255, .4) inset,
							0 0.25rem 0.5rem 0 rgba(0, 0, 0, .9) inset;
}

.bubble span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.bubble::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	filter: blur(1px);
	opacity: .4;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.bubble::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #00f;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: .05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFF 20%, #FFF 80%, rgba(255,255,255,0.00) 100%);
}
