body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 20% center;
	background-attachment: fixed;
}

.title {
	font-family: 'Copperplate Gothic';
	font-weight: bold;
	font-size: 6em;
	position: relative;
	text-align: center;
	filter: drop-shadow(0.125rem 0.125rem 0.1rem #111a)
		drop-shadow(-0.125rem -0.125rem 0.1rem #111a)
		drop-shadow(0.125rem -0.125rem 0.1rem #111a)
		drop-shadow(-0.125rem 0.125rem 0.1rem #111a);
	white-space: nowrap;
	-webkit-background-clip: text;
	background-clip: text;
	color: #ccd7e1;
	color: transparent;
	background-image: linear-gradient(0deg, #a7b3be 0%, #d5dee5 50%, #ffffff 100%);
	top: min(1.1rem, 3vw);
}

.titleWord {
	font-size: min(100%, 13vw)
}

.textBack {
	width:min(50rem, 80%);
	min-height:max(70%, calc(100% - 25vw));
	background: #bbbd;
	position: relative;
	top: min(3rem, 6vw);
	left: 50%;
	overflow: auto;
	transform: translateX(-50%);
	border-radius: 0.25rem;
	border-style: solid;
	border-color: #666d;
	font-family: "lucida bright";
	text-indent: 2rem;
}

.textBack div{
	padding:2rem 2rem 2rem 2rem;
	font-size:1.5rem;
}

.textBack p{
	margin-top: 0;
}

.navBar {
  margin: auto;
  position: absolute;
  margin: 1rem;
  z-index: 1;
}

.navBar a {
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 15px;
  text-shadow: 0 -2px 0 #828382, 0 1px 1px #d1d3d2;
  box-sizing: border-box;
  font-size: 1.5em;
  font-family: 'Copperplate Gothic';
  text-decoration: none;
  font-weight: bold;
  color: #a5a5a5;
  height: 65px;
  line-height: 65px;
  padding: 0 1rem;
  display: inline-block;
  width: auto;
  background: linear-gradient(to bottom, #ebebeb 0%, #d9d9d9 26%, #bababa 100%);
  border-radius: 5px;
  border-top: 1px solid #dcdedd;
  border-bottom: 1px solid #d2d2d2;
  top: 0;
  transition: all 0.06s ease-out;
  position: relative;
  white-space: nowrap;
}

.navBar a:visited {
  color: #a7a7a7;
}

.navBar a:hover {
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 26%, #bcc4bf 100%);
}

.navBar a:active {
  top: 6px;
  text-shadow: 0 -2px 0 #b7bbb8, 0 1px 1px #d5d9d7, 0 0 4px white;
  color: white;
}

.navBar a:active:before {
  top: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
}

.navBar a:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: 6px;
  border-radius: 5px;
  height: 65px;
  background: linear-gradient(to top, #535353 0%, #787878 6px);
  transition: all 0.078s ease-out;
  box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.3), 0 5px 2.4px rgba(0, 0, 0, 0.5), 0 10.8px 9px rgba(0, 0, 0, 0.2);
}