/* Prototype "Adsasd"*/
#wizard {
	font-size: 2rem; /* Default */
	background-image: url(https://tse2.mm.bing.net/th?id=OIP.79zCKBvPMhDpjo47TitDvgHaJo&pid=Api);
	background-position: center 0;
}

#wizard span {
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

/* Maps */
#maps {
}

#maps span {
}

/* NPCs */
#npcs {
}

#npcs span {
}

/* Locations */
#locations {
	font-size: 1.8rem;
	background-image: url(/data/images/LocationsIcon.jpg);
	background-position: center 15%;
}

#locations span {
}

/* Characters */
#characters {
font-size: 1.6rem;
}

#characters span {
}

/* Resources */
#resources {
font-size: 1.7rem;
}

#resources {
}
