/* Prototype "Adsasd"*/
#wizard {
	font-size: 2rem; /* Default */
	background-image: url(https://tse2.mm.bing.net/th?id=OIP.79zCKBvPMhDpjo47TitDvgHaJo&pid=Api);
	background-position: center 0;
}

#wizard span {
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

/* Maps */
#maps {
	background-image: url(/data/images/MapsIcon.jpg);
	background-position: center center;
}

#maps span {
	background-image: linear-gradient(0deg, #5ac81e 0%, #f7fef2 100%);
	filter: drop-shadow(0 2px 2px hsla(144, 86%, 9%, 1));
}

/* NPCs */
#npcs {
	background-image: url(/data/images/NPCsIcon.jpg);
	background-position: center center;
}

#npcs span {
	background-image: linear-gradient(0deg, #7708cc 0%, #fef6ff 100%);
	filter: drop-shadow(0 2px 2px hsla(298, 90%, 14%, 1));

}

/* Locations */
#locations {
	font-size: 1.8rem;
	background-image: url(/data/images/LocationsIcon.jpg);
	background-position: center 15%;
}

#locations span {
	background-image: linear-gradient(0deg, #cc6b08 0%, #ffefdd 100%);
	filter: drop-shadow(0 2px 2px hsla(23, 90%, 14%, 1));
}

/* Characters */
#characters {
	font-size: 1.6rem;
	background-image: url(/data/images/TaliaPFP.jpg);
	background-position: center 15%;
}

#characters span {
	background-image: linear-gradient(0deg, #0397b4 0%, #e4ffed 100%);
	filter: drop-shadow(0 2px 2px hsla(160, 90%, 14%, 1));

}

/* Resources */
#resources {
	font-size: 1.7rem;
	background-image: url(/data/images/ResourcesIcon.jpg);
	background-position: center 15%;
}

#resources span {
	background-image: linear-gradient(0deg, #78F7DE 0%, #FFF 100%);
	filter: drop-shadow(0 2px 2px hsla(168, 100%, 20%, 1));
}
