.menuButton {
	position: relative;
	width: 10rem;
	height: 10rem;
	background-image: url(/data/images/MissingTexture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
 	background-position: center center;
	transition: all .4s ease;
	text-align: center;
	cursor: pointer;
	border-radius: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	box-shadow: 0 1rem 1.25rem 0 rgba(0,0,0, .5),
		0 -0.25rem 1.5rem rgba(0, 0, 0, .9) inset,
		0 0.75rem 0.5rem rgba(255,255,255, .4) inset,
		0 0.25rem 0.5rem 0 rgba(0, 0, 0, .9) inset,
		0 0 .25rem .25rem rgba(0,0,0,.5);
	display: flex;
	justify-content: space-evenly;
}

.menuButton::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 5rem);
	background: #fff;
	border-radius: 100%;
	filter: blur(1px);
	opacity: .35;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.menuButton::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	filter: blur(1px);
	opacity: .05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFF 20%, #FFF 80%, rgba(255,255,255,0.00) 100%);
}

.menuButton span {
	background-image: linear-gradient(0deg, #4fe3c3 0%, #f5fcfb 100%);
	filter: drop-shadow(0 2px 2px #517a74);
	color: transparent;
	font-family: 'CopperplateIda';
	font-weight: bold;
	font-stretch: condensed;
	-webkit-background-clip: text;
	background-clip: text;
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.menuButton:hover {
	box-shadow: 0 1rem 1.25rem 0 rgba(0,0,0, .5),
		0 -0.25rem 1.5rem rgba(0, 0, 0, .9) inset,
		0 0.75rem 0.5rem rgba(255,255,255, .4) inset,
		0 0.25rem 0.5rem 0 rgba(0, 0, 0, .9) inset,
        	0 0 .2rem .2rem rgba(110, 175, 228, .5),
        	0 0 .625rem .625rem rgba(118, 181, 232, .65);
	transform: scale(1.1); 
	z-index: 1;
}

.menuContainer {
	position:absolute;
	top:40%;
	left:15%;
	width:70%;	
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	transform: translateY(max(calc(12.4rem - 50%), 0px));
}

.menuContainer a {
	margin: .4rem .4rem 2rem .4rem;
}
