:root { 
    --pageWidth: 31.7rem;
    --pageHeight: 39.4rem;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url('/data/images/WoodBoards.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% center;
    background-attachment: fixed;
}

#bookBase {
    box-shadow: inset 0px 0px 5px 5px #781a1a;
    width:66rem;
    height:42rem;
    background: linear-gradient(to right, #a52a2a 45%, #781a1a 46%, #781a1a 54%, #a52a2a 55%);
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.35rem;
}

.navArrow {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    top: 52%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    user-select: none;
}

.navArrow:hover {
    color:lightblue;
}

.navArrow:active {
    color: blue;
}

#navArrowLeft {
    left: 10%;
}

#navArrowRight {
    right: 10%;
}

#pages {
    width: calc(var(--pageWidth) * 2);
    height: var(--pageHeight);
    position: relative;
    margin: 1.3rem;
    perspective: 18in;
    position: absolute;
    perspective-origin: var(--pageWidth) calc(var(--pageHeight) / 2);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.page {
    width: var(--pageWidth);
    height: var(--pageHeight);
    position: absolute;
    font-family: "Homemade Apple";
    line-height: 1.7rem;
}

#leftStaticPage {
    right: 50%;
    background: linear-gradient(to right, BlanchedAlmond 92.5%, #dfceb2 97%, #97886f 100%);
}

#rightStaticPage {
    left: 50%;
    background: linear-gradient(to left, BlanchedAlmond 92.5%, #dfceb2 97%, #97886f 100%);
}

/* #leftFlippedPage {
    right: 25%;
    background: linear-gradient(to right, rgb(205, 237, 255) 92.5%, #b2d5df 97%, #6f8e97 100%);
    transform: rotateY(90deg);
    transform: translateX(-50%);
}

#rightFlippedPage {
    left: 25%;
    background: linear-gradient(to left, rgb(205, 237, 255) 92.5%, #b2d5df 97%, #6f8e97 100%);
    transform: rotateY(180deg);
    transform: translateX(50%);
} */

.pageContent {
    padding-block: 3rem;
    padding-inline: 4rem;
}


#test {
    position: absolute; 
    height: 2.8in;
    width: 2in;
    background-color: #daa520;
    left: 8rem;
    top: 2.6in;
    backface-visibility: hidden;
}

#test2 {
    position: absolute; 
    height: 2.8in;
    width: 2in;
    background-color: #daa520;
    left: 8rem;
    top: 2.6in;
    backface-visibility: hidden;
}

#testBox {
    perspective: 12in;
    position: absolute;
    perspective-origin: 2in 4in;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.dynamicPage {
    left: calc(0.5 * var(--pageWidth));
    background-color: #55eda080;
    backface-visibility: hidden;
}

.dynamicPage.leftFace {
    transform-origin: 0% 0%;
    transform: translateX(50%);
}

.dynamicPage.rightFace {
    transform-origin: 100% 0%;
    transform: translateX(-50%);
}

@keyframes leftFromLeft {
    0% {transform: translateX(50%) rotateY(180deg);}
    100% {transform: translateX(50%) rotateY(360deg);}
}

@keyframes leftFromRight {
    0% {transform: translateX(50%) rotateY(360deg);}
    100% {transform: translateX(50%) rotateY(180deg);}
}

@keyframes rightFromLeft {
    0% {transform: translateX(-50%) rotateY(0deg);}
    100% {transform: translateX(-50%) rotateY(180deg);}
}

@keyframes rightFromRight {
    0% {transform: translateX(-50%) rotateY(180deg);}
    100% {transform: translateX(-50%) rotateY(0deg);}
}

.dynamicPage.leftFace.fromLeft {
    animation: leftFromLeft 1.4s ease-in-out;
}

.dynamicPage.leftFace.fromRight {
    animation: leftFromRight 1.4s ease-in-out;
}

.dynamicPage.rightFace.fromLeft {
    animation: rightFromLeft 1.4s ease-in-out;
}

.dynamicPage.rightFace.fromRight {
    animation: rightFromRight 1.4s ease-in-out;
}