:root { 
    --pageWidth: 31.7rem;
    --pageHeight: 39.4rem;
    --flipDuration: 1.4s;
    --coverShade0: #a52a2a;
    --coverShade1: #781a1a;
    --pageShade0: #fee4bc;
    --pageShade1: #f8e8c9;
    --pageShade2: #f7e0c0;
    --pageShade3: #d8c6a7;
    --pageShade4: #97886f;
    --pageShade5: #726145;
    --leftPageGradient: linear-gradient(to right,
        var(--pageShade0) 15%,
        var(--pageShade1) 85%,
        var(--pageShade2) 92.5%,
        var(--pageShade3) 97%,
        var(--pageShade4) 99.5%,
        var(--pageShade5) 100%);
    --rightPageGradientTrans: linear-gradient(to left,
        rgb(210, 210, 210) 15%,
        rgb(233, 233, 233) 85%,
        rgb(200, 200, 200) 92.5%,
        rgb(133, 133, 133) 97%,
        rgb(98, 98, 98) 99.5%,
        rgb(75, 75, 75) 100%);
    --rightPageGradient: linear-gradient(to left,
        var(--pageShade0) 15%,
        var(--pageShade1) 85%,
        var(--pageShade2) 92.5%,
        var(--pageShade3) 97%,
        var(--pageShade4) 99.5%,
        var(--pageShade5) 100%);
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url('/data/images/WoodBoards.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% center;
    background-attachment: fixed;
}

#bookBase {
    box-shadow: inset 0px 0px 5px 5px var(--coverShade1);
    width:66rem;
    height:42rem;
    background: linear-gradient(to right, var(--coverShade0) 45%, var(--coverShade1) 46%, var(--coverShade1) 54%, var(--coverShade0) 55%);
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.35rem;
}

.navArrow {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    top: 52%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    user-select: none;
}

.navArrow:hover {
    color:lightblue;
}

.navArrow:active {
    color: blue;
}

#navArrowLeft {
    left: 10%;
}

#navArrowRight {
    right: 10%;
}

#pages {
    width: calc(var(--pageWidth) * 2);
    height: var(--pageHeight);
    position: relative;
    margin: 1.3rem;
    perspective: 18in;
    position: absolute;
    perspective-origin: var(--pageWidth) calc(var(--pageHeight) / 2);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    /* filter: drop-shadow(0 0 5px #2228); */
}

.page {
    width: var(--pageWidth);
    height: var(--pageHeight);
    position: absolute;
    font-family: "Homemade Apple";
    line-height: 1.7rem;
}

#leftStaticPage {
    right: 50%;
    background: var(--leftPageGradient);
}

#rightStaticPage {
    left: 50%;
    background: var(--rightPageGradient);
}

#leftStaticPage .pageNumber, .dynamicPage.rightFace .pageNumber {
    left: 2rem;
}

#rightStaticPage .pageNumber, .dynamicPage.leftFace .pageNumber {
    right: 2rem;

}

.pageNumber {
    position: absolute;
    bottom: 1rem;
    font-size: 1.3rem;
}
/* #leftFlippedPage {
    right: 25%;
    background: linear-gradient(to right, rgb(205, 237, 255) 92.5%, #b2d5df 97%, #6f8e97 100%);
    transform: rotateY(90deg);
    transform: translateX(-50%);
}

#rightFlippedPage {
    left: 25%;
    background: linear-gradient(to left, rgb(205, 237, 255) 92.5%, #b2d5df 97%, #6f8e97 100%);
    transform: rotateY(180deg);
    transform: translateX(50%);
} */

.pageContent {
    padding-block: 3rem;
    padding-inline: 4rem;
}


#test {
    position: absolute; 
    height: 2.8in;
    width: 2in;
    background-color: #daa520;
    left: 8rem;
    top: 2.6in;
    backface-visibility: hidden;
}

#test2 {
    position: absolute; 
    height: 2.8in;
    width: 2in;
    background-color: #daa520;
    left: 8rem;
    top: 2.6in;
    backface-visibility: hidden;
}

#testBox {
    perspective: 12in;
    position: absolute;
    perspective-origin: 2in 4in;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.dynamicPage {
    left: calc(0.5 * var(--pageWidth));
    backface-visibility: hidden;
}

.dynamicPage.leftFace {
    transform-origin: 0% 0%;
    transform: translateX(50%);
    background: var(--rightPageGradient);
    /* background-color: #fee4bc;
    background-blend-mode:luminosity; */
}

.dynamicPage.rightFace {
    transform-origin: 100% 0%;
    transform: translateX(-50%);
    background: var(--leftPageGradient);
    /* background-color: #fee4bc;
    background-blend-mode:luminosity; */
}

@keyframes leftFromLeft {
    0% {transform: translateX(50%) rotateY(180deg);}
    100% {transform: translateX(50%) rotateY(360deg);}
}

@keyframes leftFromRight {
    0% {transform: translateX(50%) rotateY(360deg);}
    100% {transform: translateX(50%) rotateY(180deg);}
}

@keyframes rightFromLeft {
    0% {transform: translateX(-50%) rotateY(0deg);}
    100% {transform: translateX(-50%) rotateY(180deg);}
}

@keyframes rightFromRight {
    0% {transform: translateX(-50%) rotateY(180deg);}
    100% {transform: translateX(-50%) rotateY(0deg);}
}

.dynamicPage.leftFace.fromLeft {
    animation: leftFromLeft var(--flipDuration) ease-in-out;
    animation-fill-mode: forwards;
}

.dynamicPage.leftFace.fromRight {
    animation: leftFromRight var(--flipDuration) ease-in-out;
    animation-fill-mode: forwards;
}

.dynamicPage.rightFace.fromLeft {
    animation: rightFromLeft var(--flipDuration) ease-in-out;
    animation-fill-mode: forwards;
}

.dynamicPage.rightFace.fromRight {
    animation: rightFromRight var(--flipDuration) ease-in-out;
    animation-fill-mode: forwards;
}